server {
    listen       80;
    server_name  localhost;

    root    /var/www/documents;
    index index.php index.html index.htm;

    if ($request_uri ~* "^(.*/)index\.php$") {
        return 301 $1;
    }

    location /static {
        autoindex on;
    }

    location ~* \.php {  
        fastcgi_split_path_info ^(.+\.php)(.*)$;
        include fastcgi_params;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k; 
        fastcgi_buffer_size 32k;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    error_log  /tmp/log/jackson.html.error.log;
    access_log  /tmp/log/jackson.html.access.log;
}
